<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1 style="text-align:center">“居然设计家”室内装饰设计合同</h1>
    <div>
        <h4 style="display:inline-block;">甲方（委托方）： </h4>
        <p style="margin: 0;display:inline-block;width:200px;height:30px;line-height:30px;border-bottom:1px solid #000"></p>
    </div>
    <div>
        <h4 style="display:inline-block;">乙方（设计方）： </h4>
        <p style="margin: 0;display:inline-block;width:200px;height:30px;line-height:30px;border-bottom:1px solid #000"></p>
    </div>
    <section style="text-intent:2em;">
        根据《中华人民共和国合同法》，以及其他有关法律、法规规定的原则，结合室内装饰装修的特点，经甲、乙双方友好协商，现就甲方通过“居然设计家”平台（以下简称平台）委托乙方承担室内装饰设计（不含建筑设计、机电设计、园林设计）事宜达成如下协议。
    </section>
    <h4>第一条 设计项目概括</h4>
    <table>
        <tr>
            <td>
                <h4 style="display:inline-block;">甲方姓名：</h4>
                <p style="margin: 0;display:inline-block;width:200px;height:30px;line-height:30px;border-bottom:1px solid #000"></p>
            </td>
            <td>
                <h4 style="display:inline-block;">甲方电话：</h4>
                <p style="margin: 0;display:inline-block;width:200px;height:30px;line-height:30px;border-bottom:1px solid #000"></p>
            </td>
        </tr>
        <tr>
            <td>
                <h4 style="display:inline-block;">设计师姓名：</h4>
                <p style="margin: 0;display:inline-block;width:200px;height:30px;line-height:30px;border-bottom:1px solid #000"></p>
            </td>
            <td>
                <h4 style="display:inline-block;">设计师电话：</h4>
                <p style="margin: 0;display:inline-block;width:200px;height:30px;line-height:30px;border-bottom:1px solid #000"></p>
            </td>
        </tr>
        <tr>
            <td><span>项目名称：</span>
                <p style="margin: 0;display:inline-block;width:200px;height:30px;line-height:30px;border-bottom:1px solid #000"></p>
            </td>
        </tr>
        <tr>
            <td>
                <span>项目地址：</span>
                <p style="margin: 0;display:inline-block;width:100px;height:30px;line-height:30px;border-bottom:1px solid #000"></p>省
                <p style="margin: 0;display:inline-block;width:100px;height:30px;line-height:30px;border-bottom:1px solid #000"></p>市
                <p style="margin: 0;display:inline-block;width:100px;height:30px;line-height:30px;border-bottom:1px solid #000"></p>区/县
                <p style="margin: 0;display:inline-block;width:200px;height:30px;line-height:30px;border-bottom:1px solid #000"></p>
            </td>
        </tr>
        <tr>
            <td><span>项目套内建筑面积：</span>
                <p style="margin: 0;display:inline-block;width:200px;height:30px;line-height:30px;border-bottom:1px solid #000"></p>m²
            </td>
        </tr>
    </table>


</body>

</html>