<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <classPathEntry
            location="src/main/resources/edb-jdbc16.jar"/>
    <context id="context1">
        <!-- 该死的注释 -->
        <commentGenerator>
            <property name="addRemarkComments" value="true"/>
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <jdbcConnection driverClass="com.edb.Driver"
                        connectionURL="jdbc:edb://rm-2zea5t7it298uz8786o.ppas.rds.aliyuncs.com:3432/easy_home"
                        userId="think"
                        password="Rexrobin@519"/>
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>


        <!-- Model-->
        <javaModelGenerator targetPackage="cn.thinkfree.database.model"
                            targetProject="src/main/java/">
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="true"/>
            <property name="useActualColumnNames" value="false"/>
            <property name="rootClass" value="cn.thinkfree.core.model.BaseModel"/>

        </javaModelGenerator>
        <!-- XML-->
        <sqlMapGenerator targetPackage="cn.thinkfree.database.mapper"
                         targetProject="src/main/resources">
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>
        <!-- 客户端-->
        <javaClientGenerator
                targetPackage="cn.thinkfree.database.mapper"
                targetProject="src/main/java/"
                type="XMLMAPPER">
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>
        <!-- 表-->
        <!--<table tableName="province" domainObjectName="Province" />-->
        <!--<table tableName="city" domainObjectName="City"/>-->
        <!--<table tableName="area" domainObjectName="Area" />-->
        <!--<table tableName="company_info" domainObjectName="CompanyInfo"/>-->
        <!--<table tableName="company_user_set" domainObjectName="CompanyUserSet" />-->
        <!--<table tableName="pre_project_company_set" domainObjectName="PreProjectCompanySet"/>-->
        <!--<table tableName="pre_project_construction" domainObjectName="PreProjectConstruction" />-->
        <!--<table tableName="pre_project_construction_info" domainObjectName="PreProjectConstructionInfo"/>-->
        <!--<table tableName="pre_project_guide" domainObjectName="PreProjectGuide" />-->
        <!--<table tableName="pre_project_house_type" domainObjectName="PreProjectHouseType"/>-->
        <!--<table tableName="pre_project_info" domainObjectName="PreProjectInfo" />-->
        <!--<table tableName="pre_project_material" domainObjectName="PreProjectMaterial"/>-->
        <!--<table tableName="pre_project_status" domainObjectName="PreProjectStatus" />-->
        <!--<table tableName="pre_project_user_role" domainObjectName="PreProjectUserRole"/>-->
        <!--<table tableName="user_info" domainObjectName="UserInfo" />-->
        <!--<table tableName="user_register" domainObjectName="UserRegister"/>-->
        <!--<table tableName="user_login_log" domainObjectName="UserLoginLog" />-->
        <!--<table tableName="user_role" domainObjectName="UserRole"/>-->
        <!--<table tableName="user_role_set" domainObjectName="UserRoleSet"/>-->
        <!--<table tableName="pc_system_log" domainObjectName="LogInfo"/>-->
        <!--<table tableName="pc_index_menu" domainObjectName="Menu"/>-->
        <!--<table tableName="pc_system_resource" domainObjectName="SystemResource"/>-->
        <!--<table tableName="pc_user_info" domainObjectName="PcUserInfo"/>-->
        <!--<table tableName="pc_user_resource" domainObjectName="PcUserResource"/>-->
        <!--<table tableName="d_housing_status" domainObjectName="HousingStatus"/>-->
        <!--<table tableName="d_project_type" domainObjectName="ProjectType"/>-->
        <!--<table tableName="consumer_set" domainObjectName="ConsumerSet"/>-->
        <!--<table tableName="consumer_set" domainObjectName="ConsumerSet"/>-->
        <!--<table tableName="pre_project_document" domainObjectName="ProjectDocument"/>-->
        <!--Scheduling start-->
        <table tableName="project" domainObjectName="Project"/>
        <!--<table tableName="designer_msg" domainObjectName="DesignerMsg"/>-->
        <!--<table tableName="designer_order" domainObjectName="DesignerOrder"/>-->
        <!--<table tableName="order_apply_refund" domainObjectName="OrderApplyRefund"/>-->
        <!--<table tableName="construction_order" domainObjectName="ConstructionOrder"/>-->
        <!--<table tableName="project_base_small_scheduling" domainObjectName="ProjectSmallScheduling"/>-->
        <!--<table tableName="project_big_scheduling_details" domainObjectName="ProjectBigSchedulingDetails"/>-->
        <!--<table tableName="order_user" domainObjectName="OrderUser"/>-->
        <!--<table tableName="project_data" domainObjectName="ProjectData"/>-->
        <!--<table tableName="project_quotation_log" domainObjectName="ProjectQuotationLog"/>-->
        <!--<table tableName="project_stage_log" domainObjectName="ProjectStageLog"/>-->
        <table tableName="project_scheduling" domainObjectName="ProjectScheduling"/>
        <!--Scheduling end-->
        <!--approval flow start-->
        <!--<table tableName="a_f_config" domainObjectName="AfConfig"/>-->
        <!--<table tableName="a_f_config_plan" domainObjectName="AfConfigPlan"/>-->
        <!--<table tableName="a_f_instance" domainObjectName="AfInstance"/>-->
        <!--<table tableName="a_f_approval_log" domainObjectName="AfApprovalLog"/>-->
        <!--<table tableName="a_f_approval_role" domainObjectName="AfApprovalRole"/>-->
        <!--<table tableName="a_f_approval_order" domainObjectName="AfApprovalOrder"/>-->
        <!--<table tableName="a_f_sub_role" domainObjectName="AfSubRole"/>-->
        <!--approval flow end-->
        <!--<table tableName="designer_msg" domainObjectName="DesignerMsg"/>-->
        <!--<table tableName="designer_style_config" domainObjectName="DesignerStyleConfig"/>-->
        <!--<table tableName="designer_style_relation" domainObjectName="DesignerStyleRelation"/>-->
        <!--<table tableName="employee_msg" domainObjectName="EmployeeMsg"/>-->
        <!--<table tableName="employee_apply_log" domainObjectName="EmployeeApplyLog"/>-->
        <!--<table tableName="option_log" domainObjectName="OptionLog"/>-->
        <!--<table tableName="remind_owner_log" domainObjectName="RemindOwnerLog"/>-->
        <!--<table tableName="apply_refund_log" domainObjectName="ApplyRefundLog"/>-->
        <!--<table tableName="apply_refund_option_log" domainObjectName="ApplyRefundOptionLog"/>-->
        <!--<table tableName="reserve_project" domainObjectName="ReserveProject"/>-->
        <!--approval flow end-->
        <!-- new approval flow start -->
        <!--<table tableName="a_f_config" domainObjectName="AfConfig"/>-->
        <!--<table tableName="a_f_config_log" domainObjectName="AfConfigLog"/>-->
        <!--<table tableName="a_f_instance" domainObjectName="AfInstance"/>-->
        <!--<table tableName="a_f_approval_log" domainObjectName="AfApprovalLog"/>-->
        <!--<table tableName="a_f_approval_role" domainObjectName="AfApprovalRole"/>-->
        <!--<table tableName="a_f_plan" domainObjectName="AfPlan"/>-->
        <!--<table tableName="a_f_config_start" domainObjectName="AfConfigStart"/>-->
        <!--<table tableName="a_f_sub_role" domainObjectName="AfSubRole"/>-->
        <!--<table tableName="a_f_sub_url" domainObjectName="AfSubUrl"/>-->
        <!--<table tableName="a_f_company_plan" domainObjectName="AfCompanyPlan"/>-->
        <!--<table tableName="build_pay_config" domainObjectName="BuildPayConfig"/>-->
        <!--<table tableName="build_scheme_config" domainObjectName="BuildSchemeConfig"/>-->
        <!--<table tableName="basics_data" domainObjectName="BasicsData"/>-->
        <!-- new approval flow end -->    </context>
</generatorConfiguration>
