<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.thinkfree.database.mapper.AgencyContractMapper">

  <select id="selectPageList"  parameterType="cn.thinkfree.database.vo.agency.AgencySEO" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from pc_agency_contract t
      <if test="_parameter != null">
        <include refid="my_Where_Clause" />
      </if>
      order BY create_time DESC
  </select>

    <select id="selectoperatingPageList"  parameterType="cn.thinkfree.database.vo.agency.AgencySEO" resultMap="BaseResultMap">
        select

        <include refid="Base_Column_List" />
        from pc_agency_contract t
        <if test="_parameter != null">
            <include refid="my_Where_Clause_one" />
        </if>
        order BY create_time DESC
    </select>

    <select id="selectFinancialPageList"  parameterType="cn.thinkfree.database.vo.agency.AgencySEO" resultMap="BaseResultMap">
        select

        <include refid="Base_Column_List" />
        from pc_agency_contract t
        <if test="_parameter != null">
            <include refid="my_Where_Clause_two" />
        </if>
        order BY create_time DESC
    </select>

  <sql id="my_Where_Clause">

    <where>
        and  ( status = '0' or   status = '3' or  status = '5'  or    status = '6'  or   status = '7'   or   status = '8'  or   status = '9'  or   status = '10' or    status = '11')
      <if test="contractNumber!= null and contractNumber != ''">
        and   t.contract_number LIKE concat(concat('%',#{contractNumber}),'%')
      </if>
    <if test="agency!= null and agency != ''">
       and   t.agency_code LIKE concat(concat('%',#{agency}),'%')
     </if>
     <if test="agency!= null and agency != ''">
       and   t.company_name LIKE concat(concat('%',#{agency}),'%')
     </if>
     <if test="brand!= null and brand != ''">
       and   brand_no LIKE concat(concat('%',#{brand}),'%')
     </if>
     <if test="brand!= null and brand != ''">
       and   brand_name LIKE concat(concat('%',#{brand}),'%')
     </if>

     <if test="category!= null and category != ''">
       and   category_name LIKE concat(concat('%',#{category}),'%')
     </if>
     <if test="category!= null and category != ''">
       and   category_no LIKE concat(concat('%',#{category}),'%')
     </if>

     <if test="status != null and status != ''">
       and   status =#{status}
     </if>
     <if test="startTime != null and startTime!=''">
      <![CDATA[ AND end_time &gt;=#{startTime}]]>
     </if>
     <if test="endTime != null and endTime!=''">
       <![CDATA[ AND  end_time &lt;=#{endTime} ]]>
     </if>
     <if test="branchCompanyCode != null and branchCompanyCode != ''">
       AND  branch_company_code =#{branchCompanyCode}
     </if>
     <if test="cityBranchCode!=null and cityBranchCode != ''">
       AND  city_branch_code = #{cityBranchCode}
     </if>
   </where>
  </sql>

    <sql id="my_Where_Clause_one">

        <where>
            and  status = '1'
            <if test="contractNumber!= null and contractNumber != ''">
                and   t.contract_number LIKE concat(concat('%',#{contractNumber}),'%')
            </if>
            <if test="agency!= null and agency != ''">
                and   t.agency_code LIKE concat(concat('%',#{agency}),'%')
            </if>
            <if test="agency!= null and agency != ''">
                and   t.company_name LIKE concat(concat('%',#{agency}),'%')
            </if>
            <if test="brand!= null and brand != ''">
                and   brand_no LIKE concat(concat('%',#{brand}),'%')
            </if>
            <if test="brand!= null and brand != ''">
                and   brand_name LIKE concat(concat('%',#{brand}),'%')
            </if>

            <if test="category!= null and category != ''">
                and   category_name LIKE concat(concat('%',#{category}),'%')
            </if>
            <if test="category!= null and category != ''">
                and   category_no LIKE concat(concat('%',#{category}),'%')
            </if>

            <if test="status != null and status != ''">
                and   status =#{status}
            </if>
            <if test="startTime != null and startTime!=''">
                <![CDATA[ AND end_time &gt;=#{startTime}]]>
            </if>
            <if test="endTime != null and endTime!=''">
                <![CDATA[ AND  end_time &lt;=#{endTime} ]]>
            </if>
            <if test="branchCompanyCode != null and branchCompanyCode != ''">
                AND  branch_company_code =#{branchCompanyCode}
            </if>
            <if test="cityBranchCode!=null and cityBranchCode != ''">
                AND  city_branch_code = #{cityBranchCode}
            </if>
        </where>
    </sql>

    <sql id="my_Where_Clause_two">

        <where>
            and  status = '4'
            <if test="contractNumber!= null and contractNumber != ''">
                and   t.contract_number LIKE concat(concat('%',#{contractNumber}),'%')
            </if>
            <if test="agency!= null and agency != ''">
                and   t.agency_code LIKE concat(concat('%',#{agency}),'%')
            </if>
            <if test="agency!= null and agency != ''">
                and   t.company_name LIKE concat(concat('%',#{agency}),'%')
            </if>
            <if test="brand!= null and brand != ''">
                and   brand_no LIKE concat(concat('%',#{brand}),'%')
            </if>
            <if test="brand!= null and brand != ''">
                and   brand_name LIKE concat(concat('%',#{brand}),'%')
            </if>

            <if test="category!= null and category != ''">
                and   category_name LIKE concat(concat('%',#{category}),'%')
            </if>
            <if test="category!= null and category != ''">
                and   category_no LIKE concat(concat('%',#{category}),'%')
            </if>

            <if test="status != null and status != ''">
                and   status =#{status}
            </if>
            <if test="startTime != null and startTime!=''">
                <![CDATA[ AND end_time &gt;=#{startTime}]]>
            </if>
            <if test="endTime != null and endTime!=''">
                <![CDATA[ AND  end_time &lt;=#{endTime} ]]>
            </if>
            <if test="branchCompanyCode != null and branchCompanyCode != ''">
                AND  branch_company_code =#{branchCompanyCode}
            </if>
            <if test="cityBranchCode!=null and cityBranchCode != ''">
                AND  city_branch_code = #{cityBranchCode}
            </if>
        </where>
    </sql>

</mapper>