<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.thinkfree.database.mapper.ApprovalFlowFormDataMapper">

  <resultMap id="ApprovalFlowFormDataVo" type="cn.thinkfree.database.vo.ApprovalFlowFormDataVo" extends="BaseResultMap">
    <collection property="formElements" column="record_unique_code"
                ofType="cn.thinkfree.database.vo.ApprovalFlowFormElementVo"
                select="cn.thinkfree.database.mapper.ApprovalFlowFormElementMapper.findByExternalUniqueCode"/>
  </resultMap>
  <!-- 根据审批流节点查询 -->
  <select id="findByExternalUniqueCode" parameterType="java.lang.String"  resultMap="ApprovalFlowFormDataVo">
    select
    <include refid="Base_Column_List" />
    from approval_flow_form_data
    where external_unique_code = #{externalUniqueCode,jdbcType=VARCHAR}
  </select>
</mapper>