<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.thinkfree.database.mapper.ApprovalFlowNodeMapper">
  <resultMap id="ApprovalFlowNodeVo" type="cn.thinkfree.database.vo.ApprovalFlowNodeVO" extends="BaseResultMap">
      <collection property="options" column="num"
                  ofType="cn.thinkfree.database.model.ApprovalFlowOptions"
                  select="cn.thinkfree.database.mapper.ApprovalFlowOptionMapper.findByNodeNum"/>
      <collection property="noticeUrls" column="num"
                  ofType="cn.thinkfree.database.model.ApprovalFlowNoticeUrls"
                  select="cn.thinkfree.database.mapper.ApprovalFlowNoticeUrlMapper.findByNodeNum"/>
      <collection property="nodeRoles" column="num"
                  ofType="cn.thinkfree.database.model.ApprovalFlowNodeRole"
                  select="cn.thinkfree.database.mapper.ApprovalFlowNodeRoleMapper.findByNodeNum"/>
  </resultMap>
    <select id="findByConfigLogNum" parameterType="java.lang.String" resultMap="ApprovalFlowNodeVo">
        select
        <include refid="Base_Column_List" />
        from af_node
        where config_log_num = #{configLogNum,jdbcType=VARCHAR}
        order by sort asc
    </select>
</mapper>