<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.thinkfree.database.mapper.ApprovalFlowRolesMapper">
  <!-- 根据审批流节点查询 -->
  <select id="findByExternalUniqueCode" parameterType="java.lang.String"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from approval_flow_roles
    where external_unique_code = #{externalUniqueCode,jdbcType=VARCHAR}
  </select>
</mapper>