<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.thinkfree.database.mapper.ApprovalFlowInstanceMapper">
  <select id="findConfigNameByInstanceNum" parameterType="java.lang.String" resultType="java.lang.String">
    select config.name
    from af_instance instance
    left join af_config_log config_log on config_log.num = instance.config_log_num
    left join af_config config on config.num = config_log.config_num
    where instance.num = #{instanceNum}
  </select>
</mapper>