<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.thinkfree.database.mapper.BusinessEntityMapper">

  <resultMap id="businessEntityResultMap" type="cn.thinkfree.database.vo.BusinessEntityVO" extends="BaseResultMap">

    <result column="company_name" jdbcType="VARCHAR" property="branchCompanyNm" />
    <result column="city_branch_name" jdbcType="VARCHAR" property="cityBranchNm" />
  </resultMap>

  <resultMap id="businessEntityWithStoreInfoResultMap" type="cn.thinkfree.database.vo.BusinessEntityVO" extends="businessEntityResultMap">

    <collection property="storeInfoList" ofType="cn.thinkfree.database.model.StoreInfo" select="getStoreInfos"
                javaType="java.util.ArrayList" column="business_entity_code">
    </collection>
  </resultMap>

  <resultMap id="storeInfoWithHrResultMap" type="cn.thinkfree.database.model.StoreInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="city_branch_code" jdbcType="VARCHAR" property="cityBranchCode" />
    <result column="store_nm" jdbcType="VARCHAR" property="storeNm" />
    <result column="business_entity_code" jdbcType="VARCHAR" property="businessEntityCode" />
    <result column="store_id" jdbcType="VARCHAR" property="storeId" />
    <result column="branch_company_code" jdbcType="VARCHAR" property="branchCompanyCode" />
  </resultMap>

  <!--分页查询-->
  <select id="selectWithCompany" parameterType="cn.thinkfree.database.vo.BusinessEntitySEO" resultMap="businessEntityResultMap">
    SELECT
    pbe.*,
    pbc.company_name,
    pcb.city_branch_name
    FROM
    pc_business_entity pbe
    LEFT JOIN pc_branch_company pbc ON pbc.branch_company_code	= pbe.branch_company_code
    LEFT JOIN pc_city_branch pcb ON pcb.city_branch_code = pbe.city_branch_code
    <where>
    pbe.is_del = 2
    <if test="branchCompanyCode != null and branchCompanyCode != ''">
      and pbe.branch_company_code = #{branchCompanyCode}
    </if>
    <if test="cityBranchCode != null and cityBranchCode != ''">
      and pbe.city_branch_code = #{cityBranchCode}
    </if>
    <if test="businessEntityNm != null and businessEntityNm != ''">
      and (pbe.entity_name like #{businessEntityNm})
    </if>
    <if test="isEnable != null ">
      and pbe.is_enable = #{isEnable}
    </if>
    </where>
    order by to_char(pbe.create_time, 'YYYY/MM/DD')
  </select>

  <!--查看详情-->
  <select id="selectWithId" parameterType="java.lang.Integer" resultMap="businessEntityWithStoreInfoResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    SELECT
    pbe.*,
    pbc.company_name,
    pcb.city_branch_name
    FROM
    pc_business_entity pbe
    LEFT JOIN pc_branch_company pbc ON pbc.branch_company_code	= pbe.branch_company_code
    LEFT JOIN pc_city_branch pcb ON pcb.city_branch_code = pbe.city_branch_code
    <where>
      pbe.id = #{id}
    </where>
  </select>

  <!--城市分站查看详情，经营主体门店信息-->
  <select id="selectWithCityBranchCode" parameterType="java.lang.String" resultMap="businessEntityWithStoreInfoResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    SELECT
    pbe.*,
    pbc.company_name,
    pcb.city_branch_name
    FROM
    pc_business_entity pbe
    LEFT JOIN pc_branch_company pbc ON pbc.branch_company_code	= pbe.branch_company_code
    LEFT JOIN pc_city_branch pcb ON pcb.city_branch_code = pbe.city_branch_code
    <where>
      pbe.city_branch_code = #{cityBranchCode}
    </where>
  </select>
  <!--联动SQL（查询门店信息）-->
  <select id="getStoreInfos" resultMap="storeInfoWithHrResultMap" parameterType="java.lang.String">

    SELECT
	psi.store_id,
	hoe.organization_text as store_nm
FROM
	pc_store_info psi
	LEFT JOIN hr_organization_entity hoe ON psi.store_id = hoe.organization_id
WHERE psi.business_entity_code = #{business_entity_code}
  </select>
</mapper>