<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.thinkfree.database.mapper.CompanyInfoExpandMapper">
  <resultMap id="CompanyExpandInfoVo" type="cn.thinkfree.database.vo.CompanyInfoExpandVO" extends="BaseResultMap">
    <result column="register_province_name" jdbcType="VARCHAR" property="registerProvinceName" />
    <result column="register_city_name" jdbcType="VARCHAR" property="registerCityName" />
    <result column="register_area_name" jdbcType="VARCHAR" property="registerAreaName" />
  </resultMap>
  <sql id="Base_Column_List_VO">
    info.id, info.company_id, info.create_time, info.update_time, info.register_province_code, info.register_city_code,
    info.register_area_code, info.register_address, info.postcode, info.email, info.company_type, info.unify_social_credit_code,
    info.official_seal_url, info.is_three_to_one, info.tax_code_photo_url, info.contact_name, info.contact_phone,
    info.is_taxpayer, info.comapny_nature, info.company_register_no ,info.organization_code_url
  </sql>
  <select id="findCompanyExpand" parameterType="java.lang.String" resultMap="CompanyExpandInfoVo">
    select <include refid="Base_Column_List_VO" />,
    province.province_name register_province_name,
    city.city_name register_city_name,
    area.area_name register_area_name  from company_info_expand info
    left join province province on info.register_province_code = province.province_code
    left join city city on info.register_city_code = city.city_code
    left join area area on info.register_area_code = area.area_code
    where info.company_id = #{companyId}

  </select>
</mapper>