<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.thinkfree.database.mapper.CompanyInfoMapper">

    <resultMap id="CompanyInfoVo" type="cn.thinkfree.database.vo.CompanyInfoVo" extends="BaseResultMap">
        <result column="province_name" jdbcType="VARCHAR" property="provinceName" />
        <result column="city_name" jdbcType="VARCHAR" property="cityName" />
        <result column="area_name" jdbcType="VARCHAR" property="areaName" />
    </resultMap>

    <resultMap id="CompanyListVo" type="cn.thinkfree.database.vo.CompanyListVo" extends="BaseResultMap">
        <result column="comapny_nature" jdbcType="SMALLINT" property="comapnyNature" />
        <result column="site_province_name" jdbcType="VARCHAR" property="siteProvinceName" />
        <result column="site_city_name" jdbcType="VARCHAR" property="siteCityName" />
        <result column="site_code" jdbcType="SMALLINT" property="siteCode" />
        <result column="site_name" jdbcType="VARCHAR" property="siteName" />
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
        <result column="signed_time" jdbcType="TIMESTAMP" property="signedTime" />
        <result column="contact_name" jdbcType="VARCHAR" property="contactName" />
        <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone" />
        <result column="contract_number" jdbcType="VARCHAR" property="contractNumber" />
        <result column="role_name" jdbcType="VARCHAR" property="roleName" />
        <result column="role_id" jdbcType="VARCHAR" property="roleId" />
        <result column="brand_name" jdbcType="VARCHAR" property="brandName"/>
        <result column="brand_count" jdbcType="VARCHAR" property="brandCount"/>
    </resultMap>

    <sql id="Base_Column_List_VO">
        info.id, info.company_id, info.company_name, info.role_id, info.province_code, info.address, info.legal_name, info.legal_phone,
        info.legal_id_card, info.business_code, info.organization_code, info.tax_code, info.is_check, info.create_time,
        info.phone, info.business_photo_url, info.work_photo_url, info.deposit_money, info.lbs, info.is_delete, info.city_code,
        info.area_code, info.telephone, info.content, info.audit_status, info.lefal_card_up_url, info.lefal_card_down_url,
        info.work_card_from, info.work_card_indate, info.update_time, info.work_code, info.company_classify, info.site_company_id,
        info.business_type, info.platform_type, info.work_card_valid_start_date, info.work_card_valid_end_date, info.dealer_company_id
    </sql>

  <select id="selectRelationMap" parameterType="cn.thinkfree.database.model.CompanyInfo" resultType="java.lang.String">
      select
        company_id
      from company_info
      <where>
          <if test="rootCompanyId != null and parentCompanyId ==1">
            and root_company_id = #{rootCompanyId}
          </if>
          <if test="provinceCode != null and parentCompanyId == 2">
              and province_code = #{provinceCode}
          </if>
          <if test="cityCode != null and parentCompanyId == 3">
              and city_code = #{cityCode}
          </if>
          <if test="areaCode != null and parentCompanyId == 4">
              and area_code = #{areaCode}
          </if>
      </where>

  </select>

    <select id="selectByCompany" parameterType="java.util.List" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from company_info
        where 1=1
        <if test="companyId != null">
            and company_id in <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{companyId}
        </foreach>
        </if>
    </select>

    <select id="findByCompanyId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from company_info
        where 1=1
        <if test="_parameter!= null and _parameter!= ''">
            and company_id = #{companyId}
        </if>
    </select>

    <select id="selectCompanyInfoByProjectNo" parameterType="java.lang.String" resultMap="BaseResultMap">

        select
          company_info.id,
          company_info.company_id,
          company_info.company_name,
          company_info.phone
        from company_info company_info
        join  pre_project_company_set pre_project_company_set on company_info.company_id = pre_project_company_set.company_id
        where pre_project_company_set.project_no = #{projectNo};

    </select>

    <select id="selectCompanyByParam" parameterType="cn.thinkfree.database.vo.CompanyInfoSEO" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        company_info
        <where>
            and is_delete = 2
            <if test="companyName != null and companyName != ''">
              and company_name like #{companyName}
            </if>
            <if test="provinceCode != null and provinceCode != ''">
                and province_code = #{provinceCode}
            </if>
            <if test="cityCode != null and cityCode != ''">
                and city_code = #{cityCode}
            </if>
            <if test="areaCode != null and areaCode != ''">
                and area_code = #{areaCode}
            </if>
            <if test="legalName != null and legalName != ''">
                and legal_name like #{legalName}
            </if>
            <if test="legalPhone != null and legalPhone != ''">
                and legal_phone like #{legalPhone}
            </if>
            order by create_time
        </where>


    </select>

    <select id="selectByCompanyId" parameterType="java.lang.String" resultMap="CompanyInfoVo">
        select <include refid="Base_Column_List_VO" />,
        province.province_name, city.city_name, area.area_name,info.role_id
        from company_info info left join province province on
        info.province_code = province.province_code left join
        city city on info.city_code = city.city_code left join
        area area on info.area_code = area.area_code
        where info.is_delete = 2 and info.platform_type = 0 and info.company_id = #{companyId}

    </select>
    
    
<!-- 修改公司审核状态 新写的 别删了啊 -->
<update id="updateauditStatus" parameterType="cn.thinkfree.database.model.CompanyInfo">
  update company_info set audit_status = #{auditStatus} where  company_id = #{companyId}
</update>

<select id="selectCompanyDetails" parameterType="java.lang.String" resultType="cn.thinkfree.database.vo.ContractDetails">

	select audit_status auditStatus ,company_name as companyName
	,t.company_id as
	companyId,legal_name as legalName,register_address as
	registerAddress,
	concat(pr.province_name,'>',ci.city_name,'>',ar.area_name,'>',f.register_address)
	as companyLocation,
	legal_id_card as
	legalIdCard,postcode,email,lefal_card_up_url as
	lefalCardUpUrl,lefal_card_down_url as lefalCardDownUrl,
	(CASE WHEN company_type = '0' THEN
	'有限责任公司'
	WHEN company_type = '1' THEN '股份有限公司'
	WHEN company_type = '2'
	THEN '股份有限公司'
	WHEN company_type = '3' THEN '股份有限公司'
	WHEN company_type =
	'4' THEN '股份有限公司'
	WHEN company_type = '5' THEN '股份有限公司'
	ELSE '其他' END )
	as companyType,
	(CASE WHEN comapny_nature = '0' THEN '自营'
	WHEN
	comapny_nature = '1' THEN '合作'
	ELSE '其他' END ) as comapnyNature,
	(CASE
	WHEN is_three_to_one = '0' THEN '是'
	WHEN is_three_to_one = '1' THEN '否'
	ELSE '其他' END ) as isThreeToOne,
	business_code as
	businessCode,legal_phone as legalPhone ,organization_code AS
	organizationCode,
	(CASE WHEN is_taxpayer = '0' THEN '是'
	WHEN is_taxpayer
	= '1' THEN '否'
	ELSE '其他' END ) as isTaxpayer,
	tax_code_photo_url AS
	taxCodePhotoUrl ,business_photo_url AS businessPhotoUrl,
	work_card_from
	AS workCardFrom,work_card_indate AS workCardIndate,
	work_photo_url AS
	workPhotoUrl,
	work_code AS workCode
	from company_info t
	left join
	company_info_expand f on t.company_id = f.company_id
	left join province
	pr on f.register_province_code = pr.province_code
	left join city ci on
	f.register_city_code = ci.city_code
	left join area ar on
	f.register_area_code = ar.area_code
	where t.company_id
	= #{companyId}
</select>

<select id="dealerList" parameterType="cn.thinkfree.database.vo.CompanyListSEO" resultMap="CompanyListVo">
      SELECT
            <include refid="Base_Column_List_VO" />,province.province_name, city.city_name,
            branch.company_name siteProvinceName,
            cityBranch.city_branch_name siteCityName, brand.brand_name, orderIndex.count brand_count
    FROM
        company_info info
        LEFT JOIN province province ON info.province_code = province.province_code
        LEFT JOIN city city ON info.city_code = city.city_code
        left join pc_branch_company branch on info.branch_company_code = branch.branch_company_code
        left join pc_city_branch cityBranch on info.city_branch_code = cityBranch.city_branch_code
        left join (select company_id, agency_code, count(id)
                    from pc_dealer_brand_info where audit_status = 0
                    group by company_id, agency_code) orderIndex on info.company_id = orderIndex.company_id
        LEFT JOIN ( SELECT company_id, agency_code, string_agg ( brand_name, '、' ) brand_name FROM pc_dealer_brand_info
            WHERE audit_status = 3 GROUP BY company_id, agency_code ) brand ON info.company_id = brand.company_id
        AND info.dealer_company_id = brand.agency_code
    <where>
        and info.company_classify = 2
        <if test="branchCompanyCode != null and branchCompanyCode != ''">
            AND info.branch_company_code = #{branchCompanyCode}
        </if>
        <if test="cityBranchCode != null and cityBranchCode != ''">
            AND info.city_branch_code = #{cityBranchCode}
        </if>
        <if test="dealerCompanyId != null and dealerCompanyId != ''">
            AND info.dealer_company_id = #{dealerCompanyId}
        </if>
        <if test="param != null and param != ''">
            AND info.company_name like #{param}
        </if>
        <if test="auditStatus != null and auditStatus != ''">
            AND info.audit_status = #{auditStatus}
        </if>
        <if test="provinceCode != null and provinceCode != ''">
            AND info.province_code = #{provinceCode}
        </if>
        <if test="cityCode != null and cityCode != ''">
            AND info.city_code = #{cityCode}
        </if>
    </where>
    order by orderIndex.count, info.update_time



</select>

<select id="list" parameterType="cn.thinkfree.database.vo.CompanyListSEO" resultType="cn.thinkfree.database.vo.CompanyListVo">
    SELECT
    info.company_id,
    info.role_id,
    role.role_name,
    expand.comapny_nature as comapny_nature,
    info.company_name,
    contract.start_time,
    contract.end_time,
    contract.signed_time,
    contract.contract_number,
    info.legal_name,
    branch.organization_id as site_code,
    branch.organization_text as site_city_name,
    expand.contact_name,
    expand.contact_phone,
    info.deposit_money,
    info.audit_status
    FROM
    company_info info
    LEFT JOIN hr_organization_entity branch
    ON info.site_company_id = branch.organization_id
    LEFT JOIN company_info_expand expand ON info.company_id = expand.company_id
    LEFT JOIN user_role_set role ON info.role_id = role.role_code
    left JOIN (
    SELECT
    id,
    contract_number,
    contract_status,
    signed_time,
    start_time,
    end_time,
    create_time,
    company_id,
    contract_url,
    contract_remark,
    role_id
    FROM
    pc_contract_info
    WHERE
    id IN ( SELECT max( id ) FROM pc_contract_info GROUP BY company_id )
    ) contract ON info.company_id = contract.company_id
    and contract.role_id = info.role_id
    WHERE info.company_classify = 2
    <if test="relationMap != null">
        and info.site_company_id in <foreach item="item" index="index" collection="relationMap" open="(" separator="," close=")">
        #{item}
    </foreach>
    </if>
    <if test="siteCode != null and siteCode != ''">
        AND info.site_company_id = #{siteCode}
    </if>
    <!--<if test="provinceCode != null and provinceCode != ''">-->
        <!--AND branch.province_code = #{provinceCode}-->
    <!--</if>-->
    <!--<if test="cityCode != null and cityCode != ''">-->
        <!--AND branch.city_code = #{cityCode}-->
    <!--</if>-->
    <if test="companyId != null and companyId != ''">
        AND info.company_id = #{companyId}
    </if>
    <if test="startTime != null and startTime != ''">
        AND to_char(contract.start_time, 'YYYY-MM-DD') = #{startTime}
    </if>
    <if test="roleId != null and roleId != ''">
        AND info.role_id = #{roleId}
    </if>
    <if test="param != null and param != ''">
        AND ( info.company_name like #{param} OR info.legal_name like #{param}
        OR expand.contact_name like #{param} OR expand.contact_phone like #{param} )
    </if>
    <if test="auditStatus != null and auditStatus != ''">
        AND info.audit_status = #{auditStatus}
    </if>
    <if test="signedTime != null and signedTime != ''">
        AND to_char(contract.signed_time, 'YYYY-MM-DD') = #{signedTime}
    </if>
    <if test="orderList != null">
        order by <foreach collection="orderList" index="key" item="value" separator="," >
        ${key} ${value}
    </foreach>
    </if>
    <if test="orderList == null">
        order by info.update_time desc
    </if>
    </select>

    <select id="downLoad" parameterType="cn.thinkfree.database.vo.CompanyListSEO" resultType="cn.thinkfree.database.vo.CompanyListVo">
        SELECT
        info.company_id,
        info.roleId,
        role.role_name,
        expand.comapny_nature as comapny_nature,
        info.company_name,
        contract.start_time,
        contract.end_time,
        contract.signed_time,
        contract.contract_number,
        info.legal_name,
        branch.organization_id as site_code,
        branch.organization_text as site_city_name,
        expand.contact_name,
        expand.contact_phone,
        info.deposit_money,
        info.audit_status
        FROM
        company_info info
        LEFT JOIN hr_organization_entity branch
        ON info.site_company_id = branch.organization_id
        LEFT JOIN company_info_expand expand ON info.company_id = expand.company_id
        LEFT JOIN user_role_set role ON info.role_id = role.role_code
        left JOIN (
        SELECT
        id,
        contract_number,
        contract_status,
        signed_time,
        start_time,
        end_time,
        create_time,
        company_id,
        contract_url,
        contract_remark,
        role_id
        FROM
        pc_contract_info
        WHERE
        id IN ( SELECT max( id ) FROM pc_contract_info GROUP BY company_id )
        ) contract ON info.company_id = contract.company_id
        and contract.role_id = info.role_id
        WHERE info.company_classify = 2
        <if test="relationMap != null">
            and info.site_company_id in <foreach item="item" index="index" collection="relationMap" open="(" separator="," close=")">
            #{item}
        </foreach>
        </if>

        <if test="companyId != null and companyId != ''">
            AND info.company_id = #{companyId}
        </if>
        <if test="startTime != null and startTime != ''">
            AND to_char(contract.start_time, 'YYYY-MM-DD') = #{startTime}
        </if>
        <if test="roleId != null and roleId != ''">
            AND info.role_id = #{roleId}
        </if>
        <if test="param != null and param != ''">
            AND ( info.company_name like #{param} OR info.legal_name like #{param}
            OR expand.contact_name like #{param} OR expand.contact_number like #{param} )
        </if>
        <if test="auditStatus != null and auditStatus != ''">
            AND info.audit_status = #{auditStatus}
        </if>
        <if test="signedTime != null and signedTime != ''">
            AND to_char(contract.signed_time, 'YYYY-MM-DD') = #{signedTime}
        </if>
        <if test="companyIds != null">
            and info.company_id in <foreach item="item" index="index" collection="companyIds" open="(" separator="," close=")">
            #{item}
        </foreach>
        </if>
        <if test="orderList != null">
            order by <foreach collection="orderList" index="key" item="value" separator="," >
            ${key} ${value}
        </foreach>
        </if>
        <if test="orderList == null">
            order by info.update_time desc
        </if>
    </select>

    <update id="updateByParam" parameterType="java.util.Map">
        update company_info
        <set>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=SMALLINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="platformType != null">
                platform_type = #{platformType,jdbcType=SMALLINT}
            </if>
        </set>
        where company_id = #{companyId}
    </update>
    <select id="agencyList" parameterType="cn.thinkfree.database.vo.CompanyListSEO" resultType="cn.thinkfree.database.vo.CompanyListVo">
        SELECT
        info.company_id,
        info.role_id,
        role.role_name,
        expand.comapny_nature AS comapny_nature,
        info.company_name,
        info.legal_name,
        expand.contact_name,
        expand.contact_phone,
        info.deposit_money,
        info.audit_status,
        contract.brand_name,
        province.province_name as provinceName,
        city.city_name as cityName,
        area.area_name AS areaName
        FROM
        company_info info
        left join province province on info.province_code = province.province_code
        left join city city on city.city_code = info.city_code
        left join area area on area.area_code = info.area_code
        LEFT JOIN company_info_expand expand ON info.company_id = expand.company_id
        LEFT JOIN user_role_set role ON info.role_id = role.role_code
        LEFT JOIN (
        SELECT
        company_id,
        string_agg ( brand_name, ' ' ) brand_name
        FROM
        pc_agency_contract_terms
        WHERE
        contract_number IN ( SELECT contract_number FROM pc_agency_contract WHERE STATUS = 8 )
        GROUP BY
        company_id
        ) contract ON info.company_id = contract.company_id
        WHERE
        info.company_classify = 2
        <if test="relationMap != null">
            and info.site_company_id in <foreach item="item" index="index" collection="relationMap" open="(" separator="," close=")">
            #{item}
        </foreach>
        </if>
        <if test="siteCode != null and siteCode != ''">
            AND info.site_company_id = #{siteCode}
        </if>
        <if test="companyId != null and companyId != ''">
            AND info.company_id = #{companyId}
        </if>
        <if test="roleId != null and roleId != ''">
            AND info.role_id = #{roleId}
        </if>
        <if test="param != null and param != ''">
            AND info.company_name like #{param}
        </if>
        <if test="auditStatus != null and auditStatus != ''">
            AND info.audit_status = #{auditStatus}
        </if>
        <if test="orderList == null">
            order by info.update_time desc
        </if>
    </select>
</mapper>