<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.thinkfree.database.mapper.CompanyUserSetMapper">
    <resultMap id="IndexUserReportVO" type="cn.thinkfree.database.vo.IndexUserReportVO">
        <result column="steward" jdbcType="INTEGER" property="steward" />
        <result column="projectManager" jdbcType="INTEGER" property="projectManager" />
        <result column="foreman" jdbcType="INTEGER" property="foreman" />
        <result column="qualityInspector" jdbcType="INTEGER" property="qualityInspector" />
    </resultMap>

    <resultMap id="StaffsVO" type="cn.thinkfree.database.vo.StaffsVO" extends="BaseResultMap">
        <result column="id"  property="id" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="name" property="name"/>
        <result column="user_id"   property="userId" />
        <result column="role_id" property="roleId" />
        <result column="company_name" jdbcType="VARCHAR" property="companyName" />
        <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    </resultMap>

    <resultMap id="CompanyUserSetVo" type="cn.thinkfree.database.vo.CompanyUserSetVo" extends="BaseResultMap">
        <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    </resultMap>

    <select id="countCompanyUser" parameterType="java.util.List" resultMap="IndexUserReportVO">


        SELECT
        sum(CASE WHEN role_id = 'CS' THEN 1 ELSE 0 END) as steward,
        sum(CASE WHEN role_id = 'CP' THEN 1 ELSE 0 END) as projectManager,
        sum(CASE WHEN role_id = 'CQ' THEN 1 ELSE 0 END) as qualityInspector,
        sum(CASE WHEN role_id = 'CM' THEN 1 ELSE 0 END) as foreman

        from company_user_set
        where
        is_job = 1
        and company_id in
        <foreach collection="list"  separator="," open="(" item="listItem" close=")">
            #{listItem}
        </foreach>

    </select>



    <select id="selectStaffsVOByExample" parameterType="cn.thinkfree.database.model.CompanyUserSetExample" resultMap="StaffsVO">

        select
        id,
        phone,
        name,
        role_id,
        user_id,
        is_job,
        is_bind
        from company_user_set
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>


    <select id="findByUserId" parameterType="java.lang.String" resultMap="StaffsVO">
        select cu.*, ro.role_name, co.company_name  from company_user_set cu
       left join user_role_set ro on cu.role_id = ro.role_code
       left join company_info co on cu.company_id = co.company_id where cu.user_id=#{userId}
    </select>

    <update id="updateIsJob" parameterType="java.lang.String">
        UPDATE company_user_set SET is_job=2 WHERE user_id=#{userId}
    </update>

    <select id="staffByCompanyID" parameterType="string" resultMap="BaseResultMap">

        select us.*, com.company_name from company_user_set us join company_info com on us.company_id = com.company_id
        <where>
            <if test="companyId !=null and companyId!=''">
                and us.company_id=#{companyId}
            </if>

        </where>
    </select>

    <select id="findStaffByParam" resultMap="StaffsVO" parameterType="cn.thinkfree.database.vo.StaffSEO">
        select us.*, com.company_name, role.role_name from company_user_set us
        join company_info com on us.company_id = com.company_id
        join user_role_set role on us.role_id = role.role_code
        <where>
            <if test="name!=null and name!=''">
                and us.name like #{name}
            </if>
            <if test="phone!=null and phone!=''">
                and us.phone like #{phone}
            </if>
            <if test="isBind!=null and isBind!=''">
                and us.is_bind = #{isBind}
            </if>
            <if test="isJob!=null and isJob!=''">
                and us.is_job = #{isJob}
            </if>
            <if test="provinceCode !=null and provinceCode!=''">
                and com.province_code=#{provinceCode}
            </if>
            <if test="cityCode !=null and cityCode!=''">
                and com.city_code=#{cityCode}
            </if>
            <if test="areaCode !=null and areaCode!=''">
                and com.area_code=#{areaCode}
            </if>
            <if test="companyId !=null and companyId!=''">
                and us.company_id=#{companyId}
            </if>

        </where>
    </select>

    <!--<insert id="insertDis" >-->
        <!--insert into company_user_set-->
        <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
            <!--<if test="id != null">-->
                <!--id,-->
            <!--</if>-->
            <!--<if test="companyId != null">-->
                <!--company_id,-->
            <!--</if>-->
            <!--<if test="userId != null">-->
                <!--user_id,-->
            <!--</if>-->
            <!--<if test="isJob != null">-->
                <!--is_job,-->
            <!--</if>-->
            <!--<if test="isBind != null">-->
                <!--is_bind,-->
            <!--</if>-->
            <!--<if test="phone != null">-->
                <!--phone,-->
            <!--</if>-->
            <!--<if test="name != null">-->
                <!--name,-->
            <!--</if>-->
            <!--<if test="roleId != null">-->
                <!--role_id,-->
            <!--</if>-->
            <!--<if test="updateTime != null">-->
                <!--update_time,-->
            <!--</if>-->
            <!--<if test="activationCode != null">-->
                <!--activation_code,-->
            <!--</if>-->
            <!--<if test="customRoleName != null">-->
                <!--custom_role_name,-->
            <!--</if>-->
            <!--<if test="bindTime != null">-->
                <!--bind_time,-->
            <!--</if>-->
            <!--<if test="quitTime != null">-->
                <!--quit_time,-->
            <!--</if>-->
        <!--</trim>-->
        <!--select-->
        <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
            <!--<if test="id != null">-->
                <!--#{id,jdbcType=INTEGER},-->
            <!--</if>-->
            <!--<if test="companyId != null">-->
                <!--#{companyId,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="userId != null">-->
                <!--#{userId,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="isJob != null">-->
                <!--#{isJob,jdbcType=SMALLINT},-->
            <!--</if>-->
            <!--<if test="isBind != null">-->
                <!--#{isBind,jdbcType=SMALLINT},-->
            <!--</if>-->
            <!--<if test="phone != null">-->
                <!--#{phone,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="name != null">-->
                <!--#{name,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="roleId != null">-->
                <!--#{roleId,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="updateTime != null">-->
                <!--#{updateTime,jdbcType=TIMESTAMP},-->
            <!--</if>-->
            <!--<if test="activationCode != null">-->
                <!--#{activationCode,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="customRoleName != null">-->
                <!--#{customRoleName,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="bindTime != null">-->
                <!--#{bindTime,jdbcType=TIMESTAMP},-->
            <!--</if>-->
            <!--<if test="quitTime != null">-->
                <!--#{quitTime,jdbcType=TIMESTAMP},-->
            <!--</if>-->
        <!--</trim>-->
        <!--from  company_user_set-->
        <!--where  not exists (-->
        <!--select 1 from company_user_set where-->
        <!---->
        <!--)-->

    <!--</insert>-->
</mapper>