<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.thinkfree.database.mapper.ContractInfoMapper">

    <resultMap id="contractInfoVo" type="cn.thinkfree.database.vo.ContractVo" >
        <result column="signed_time" jdbcType="VARCHAR" property="signedTime" />
        <result column="contract_number" jdbcType="VARCHAR" property="contractNumber" />
        <result column="start_time" jdbcType="VARCHAR" property="startTime" />
         <result column="end_time" jdbcType="VARCHAR" property="endTime" />
          <result column="company_id" jdbcType="VARCHAR" property="companyId" />
           <result column="company_name" jdbcType="VARCHAR" property="companyName" />
           <result column="companyLocation" jdbcType="VARCHAR" property="companyLocation" />
           <result column="companyType" jdbcType="VARCHAR" property="companyType" />
            <result column="contract_url" jdbcType="VARCHAR" property="contractUrl" />
               <result column="contract_status" jdbcType="VARCHAR" property="contractStatus" />
           
    </resultMap>
    
    
  <!--合同列表分页查询-->
  <select id="selectContractPage" parameterType="cn.thinkfree.database.vo.ContractSEO" resultMap="contractInfoVo" >
    SELECT c.signed_time as signed_time,c.contract_number as contract_number,
		c.company_id as company_id,p.company_name as company_name,p.deposit_money as deposit_money,
		concat(pr.province_name,'>',ci.city_name,'>',ar.area_name) as companyLocation ,se.role_name as companyType,
		c.id as id ,c.start_time as start_time,c.end_time as end_time,
		c.contract_status as contract_status
		from  pc_contract_info c  left join company_info p
		on c.company_id = p.company_id
		left join province pr on  p.province_code = pr.province_code
		left join city ci on p.city_code = ci.city_code
		left join area ar on p.area_code = ar.area_code
		left join user_role_set se on p.role_id = se.role_code
      <where>
<!--            and  (p.audit_status = '2' or p.audit_status = '3' or p.audit_status = '5' ) -->
<!--            and c.contract_status !='0'  -->
           
          <if test="contractNumber != null and contractNumber !='' ">
            and c.contract_number like CONCAT('%',#{contractNumber},'%')
          </if>
           <if test="companyType != null and companyType !='' ">
            and p.role_id  = #{companyType}
          </if>
           <if test="contractStatus != null and contractStatus !='' ">
            and c.contract_status  = #{contractStatus}
          </if>
          
          <if test="companyInfo != null and companyInfo !='' ">
            and (c.company_name  like CONCAT('%',#{companyInfo},'%')  or   c.company_id  like CONCAT('%',#{companyInfo},'%')    )
          </if>
          
          <if test="province != null and province !='' ">
            and p.province_code  = #{province}
          </if>
          
          <if test="city != null and city !='' ">
            and p.city_code = #{city}
          </if>
          
          <if test="companyInfo != null and companyInfo !='' ">
            and  p.area_code =#{area}
          </if>
          
           <if test="starTime != null and starTime !='' ">
            and  c.star_time > = #{starTime}
          </if>
          
           <if test="endTime != null and endTime !='' ">
            and  c.end_time &lt;=  #{endTime}
          </if>
          
          
      </where>

  </select>
  
  <select id="selectContractBycontractNumber" parameterType="cn.thinkfree.database.vo.ContractVo" resultMap="contractInfoVo" >
   
           select * from pc_contract_info
            where  contract_number = #{contractNumber}
          
          

  </select>
  
<!-- 修改审核状态-->
  <update id="updateContractStatus" parameterType="cn.thinkfree.database.vo.ContractVo" >
    update pc_contract_info set contract_status = #{contractStatus} where contract_number = #{contractNumber}
  </update>
  
 <insert id="insertSelective" parameterType="cn.thinkfree.database.vo.ContractVo">
    insert into pc_contract_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="contractNumber != null">
        contract_number,
      </if>
      <if test="contractStatus != null">
        contract_status,
      </if>
      <if test="signedTime != null">
        signed_time,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
        create_time,
      <if test="companyId != null">
        company_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="contractNumber != null">
        #{contractNumber,jdbcType=VARCHAR},
      </if>
      <if test="contractStatus != null">
        #{contractStatus,jdbcType=VARCHAR},
      </if>
      <if test="signedTime != null">
        #{signedTime,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=VARCHAR},
      </if>
        now(),
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

   
</mapper>