<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.thinkfree.database.mapper.CompanyInfoMapper">


  <select id="selectRelationMapByRootCompany" parameterType="java.lang.String" resultType="java.lang.String">
      select
        company_id
      from company_info
      where root_company_id = #{rootCompanyID}
  </select>

</mapper>