<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.thinkfree.database.mapper.ConstructionOrderMapper">

    <!--阶段详情展示-->
    <select id="selectStageDetailsList" resultType="cn.thinkfree.database.vo.StageDetailsVO">
            SELECT
            s.stage AS stage,
            s.create_time AS createTime
            FROM construction_order c
            LEFT JOIN project_stage_log s ON s.order_no=c.order_no
            WHERE c.project_no=#{projectNo} AND s.type =#{type}
  </select>

    <!--根据项目编号查询订单信息-->
    <select id="selectByProjectNo" resultType="cn.thinkfree.database.appvo.ProjectOrderDetailVo">
    SELECT
      order_stage as taskStage,
      order_no as orderNo,
      type as styleType
    FROM
      construction_order
    WHERE
      project_no = #{projectNo}
  </select>

    <select id="selectByProjectNoAndStatus" resultType="cn.thinkfree.database.appvo.OrderPlayVo">
        SELECT
          ci.company_name AS constructionCompany,
          ps.task_num taskNum,
          deso.money as cost,
          ps.delay delay,
          ps.is_confirm isConfirm
        FROM
            construction_order deso
        LEFT JOIN company_info ci ON deso.company_id = ci.company_id
        LEFT JOIN project_scheduling ps ON ps.project_no=deso.project_no
        WHERE
            deso.project_no=#{projectNo}
            AND
            deso.status=#{status}
    </select>

    <select id="selectConstructionOrderVo" resultType="cn.thinkfree.database.pcvo.ConstructionOrderVO">
        SELECT
          co.order_no orderNo,
          co.create_time createTime,
          co.close_time closeTime,
          co.order_stage orderStage,
          pro.order_source orderSource,
          pro.owner_id ownerId,
          pro.address_detail addressDetail,
          pro.house_type houseType,
          pro.decoration_budget decorationBudget,
          pro.house_room houseRoom,
          pro.house_office houseOffice,
          pro.house_toilet houseToilet,
          pro.area area,
          pro.style style,
        pro.reference_scheme referenceScheme,
          co.remark remark
        FROM
          construction_order co
        LEFT JOIN project pro ON co.project_no=pro.project_no
        WHERE
          co.project_no=#{projectNo}
    </select>


    <!--施工合同列表-->
    <select id="selectConstructionContractByPage" resultType="cn.thinkfree.database.vo.ConstructionContractVO">
        SELECT
        dor.order_no AS sunOrderNo,
        dor.status AS status,
        p.project_no AS orderNo,
        p.order_source AS orderSource,
        pr.province_name AS orderAddress,
        po.contract_number AS contractNo,
        po.sign_time AS signingTime,
        po.audit_type AS auditType
        FROM
        construction_order dor
        LEFT JOIN project p ON p.project_no = dor.project_no
        LEFT JOIN pc_order_contract po ON po.order_number = dor.order_no
        LEFT JOIN province pr ON pr.province_code = p.province
        LEFT JOIN project_quotation_check pqc ON pqc.project_no=dor.project_no
        WHERE
        dor.company_id = #{constructionContractVO.companyId} AND dor.status = #{constructionContractVO.status}
        AND pqc.result = 1
        <if test="constructionContractVO.contractNo!=null and constructionContractVO.contractNo!=''">
            and po.contract_number like CONCAT('%',#{constructionContractVO.contractNo},'%' )
        </if>
        <if test="constructionContractVO.orderNo!=null and constructionContractVO.orderNo!=''">
            and dor.order_no like CONCAT('%',#{constructionContractVO.orderNo},'%' )
        </if>
        <if test="constructionContractVO.orderSource!=null and constructionContractVO.orderSource!=''">
            and p.order_source like CONCAT('%',#{constructionContractVO.orderSource},'%' )
        </if>
        <if test="constructionContractVO.orderAddress!=null and constructionContractVO.orderAddress!=''">
            and pr.province_name like CONCAT('%',#{constructionContractVO.orderAddress},'%' )
        </if>
        <if test="constructionContractVO.auditType!=null and constructionContractVO.auditType!=''">
            and po.audit_type like CONCAT('%',#{constructionContractVO.auditType},'%' )
        </if>
        <if test="constructionContractVO.startSign != null and constructionContractVO.startSign != ''">
            AND po.sign_time <![CDATA[>=]]> #{constructionContractVO.startSign}
        </if>
        <if test="constructionContractVO.endSign != null and constructionContractVO.endSign != ''">
            AND po.sign_time <![CDATA[<=]]>#{constructionContractVO.endSign}
        </if>
        <if test="constructionContractVO.flag!=null and constructionContractVO.flag !='' ">
            <if test='constructionContractVO.flag == "1" '>
                and po.audit_type = '1' and po.sign_time <![CDATA[>]]> now()
            </if>
            <if test='constructionContractVO.flag == "0" '>
                and ( po.audit_type = '0' or po.sign_time <![CDATA[ < ]]> now() )
            </if>
        </if>
        ORDER BY dor.create_time DESC
        <if test="pageSize != null">
            limit #{pageSize} offset #{pageNum}
        </if>

    </select>

    <!--查询总页数-->
    <select id="selectconstructionContractVOCount" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM
        construction_order dor
        LEFT JOIN project p ON p.project_no = dor.project_no
        LEFT JOIN pc_order_contract po ON po.order_number = dor.order_no
        LEFT JOIN province pr ON pr.province_code = p.province
        LEFT JOIN project_quotation_check pqc ON pqc.project_no=dor.project_no
        WHERE
        dor.company_id = #{constructionContractVO.companyId} AND dor.status = #{constructionContractVO.status}
        AND pqc.result = 1
        <if test="constructionContractVO.contractNo!=null and constructionContractVO.contractNo!=''">
            and po.contract_number like CONCAT('%',#{constructionContractVO.contractNo},'%' )
        </if>
        <if test="constructionContractVO.orderNo!=null and constructionContractVO.orderNo!=''">
            and dor.order_no like CONCAT('%',#{constructionContractVO.orderNo},'%' )
        </if>
        <if test="constructionContractVO.orderSource!=null and constructionContractVO.orderSource!=''">
            and p.order_source like CONCAT('%',#{constructionContractVO.orderSource},'%' )
        </if>
        <if test="constructionContractVO.orderAddress!=null and constructionContractVO.orderAddress!=''">
            and pr.province_name like CONCAT('%',#{constructionContractVO.orderAddress},'%' )
        </if>
        <if test="constructionContractVO.auditType!=null and constructionContractVO.auditType!=''">
            and po.audit_type like CONCAT('%',#{constructionContractVO.auditType},'%' )
        </if>
        <if test="constructionContractVO.startSign != null and constructionContractVO.startSign != ''">
            AND po.sign_time <![CDATA[>=]]> #{constructionContractVO.startSign}
        </if>
        <if test="constructionContractVO.endSign != null and constructionContractVO.endSign != ''">
            AND po.sign_time <![CDATA[<=]]>#{constructionContractVO.endSign}
        </if>
        <if test="constructionContractVO.flag!=null and constructionContractVO.flag !='' ">
            <if test='constructionContractVO.flag == "1" '>
                and po.audit_type = '1' and po.sign_time <![CDATA[>]]> now()
            </if>
            <if test='constructionContractVO.flag == "0" '>
                and ( po.audit_type = '0' or po.sign_time <![CDATA[ < ]]> now() )
            </if>
        </if>
    </select>

    <select id="countByApproval" resultType="int">
        select count(1) from (SELECT
            DISTINCT ou.project_no projectNo
        FROM
            order_user ou
        RIGHT JOIN construction_order co ON co.order_no = ou.order_no AND co.order_stage <![CDATA[ < ]]> #{orderStatus}
        RIGHT JOIN a_f_instance afi on afi.project_no = ou.project_no AND afi.config_no IN
        <foreach collection="configNos" item="configNo" open="(" separator="," close=")">
            #{configNo}
        </foreach>
        WHERE ou.user_id = #{userId})
    </select>

    <select id="selectByApproval" resultType="cn.thinkfree.database.appvo.ConstructionProjectVo">
        SELECT
            DISTINCT ou.project_no projectNo,
            ou.order_no orderNo,
            proj.create_time appointmentTime,
            CONCAT(prov.province_name, ci.city_name, ar.area_name, proj.address_detail) address,
            bd.basics_name as type,
            proj.stage stage
        FROM
            order_user ou
        RIGHT JOIN construction_order co ON co.order_no = ou.order_no AND co.order_stage <![CDATA[ < ]]> #{orderStatus}
        RIGHT JOIN a_f_instance afi on afi.project_no = ou.project_no AND afi.config_no IN
        <foreach collection="configNos" item="configNo" open="(" separator="," close=")">
            #{configNo}
        </foreach>
        LEFT JOIN project proj ON proj.project_no = ou.project_no
        LEFT JOIN province prov ON prov.province_code = proj.province
        LEFT JOIN city ci ON ci.city_code = proj.city
        LEFT JOIN area ar ON ar.area_code = proj.area
        LEFT JOIN basics_data bd ON bd.basics_code = proj.style and bd.basics_group = 'DESIGN_STYLE'
        WHERE ou.user_id = #{userId}
        limit #{pageSize} offset #{pageNum}
    </select>

    <select id="countByUserId" resultType="int">
        SELECT
            count(1)
        FROM
            order_user ou
        RIGHT JOIN construction_order co ON co.order_no = ou.order_no
        WHERE ou.user_id = #{userId}
    </select>



</mapper>