<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.thinkfree.database.mapper.CompanyUserSetMapper">
    <resultMap id="IndexUserReportVO" type="cn.thinkfree.database.vo.IndexUserReportVO">


        <result column="steward" jdbcType="INTEGER" property="steward" />
        <result column="projectManager" jdbcType="INTEGER" property="projectManager" />
        <result column="foreman" jdbcType="INTEGER" property="foreman" />
        <result column="qualityInspector" jdbcType="INTEGER" property="qualityInspector" />


    </resultMap>

    <select id="countCompanyUser" parameterType="java.lang.String" resultMap="IndexUserReportVO">


      SELECT
         sum(CASE WHEN role_id = 'CS' THEN 1 ELSE 0 END) as steward,
         sum(CASE WHEN role_id = 'CP' THEN 1 ELSE 0 END) as projectManager,
         sum(CASE WHEN role_id = 'CQ' THEN 1 ELSE 0 END) as qualityInspector,
         sum(CASE WHEN role_id = 'CM' THEN 1 ELSE 0 END) as foreman

      from company_user_set
      where company_id = #{companyID} and is_job = 1


    </select>
</mapper>