<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.thinkfree.database.mapper.DesignerOrderMapper">
    <!--分页查询项目派单-->
    <select id="selectProjectOrderByPage" resultType="cn.thinkfree.database.vo.ProjectOrderVO">
        SELECT
        P .address AS address,
        i.company_name AS companyName,
        o.order_no AS orderNo,
        P .create_time AS appointmentTime,
        P .address_detail AS addressDetail,


        co.money AS reducedContractAmount,
        o.order_stage AS orderStage,
        b.big_name AS constructionProgress,
        b.is_adopt AS checkCondition,
        d.delay_time AS delayDays


        FROM
        designer_order o
        LEFT JOIN construction_order co ON co.project_no = o.project_no

        LEFT JOIN project_delay d ON d.project_no = o.project_no
        LEFT JOIN project_big_scheduling_details b ON b.project_no = o.project_no
        LEFT JOIN company_info i ON i.company_id = o.company_id
        LEFT JOIN project P ON P .project_no = o.project_no


        WHERE
        o.project_no=#{projectOrderVO.projectNo} AND o.status=#{projectOrderVO.status}
        <if test="pageSize != null">
            limit #{pageSize} offset #{pageNum}
        </if>
    </select>

    <!--查询项目派单总条数-->
    <select id="selectProjectOrderCount" resultType="java.lang.Integer">
        SELECT count(1)
                FROM
        designer_order o
        LEFT JOIN construction_order co ON co.project_no = o.project_no

        LEFT JOIN project_delay d ON d.project_no = o.project_no
        LEFT JOIN project_big_scheduling_details b ON b.project_no = o.project_no
        LEFT JOIN company_info i ON i.company_id = o.company_id
        LEFT JOIN project P ON P .project_no = o.project_no


        WHERE
        o.project_no=#{projectOrderVO.projectNo} AND o.status=#{projectOrderVO.status}
    </select>

    <!--根据项目编号查询订单信息-->
    <select id="selectByProjectNo" resultType="cn.thinkfree.database.appvo.ProjectOrderDetailVo">
        SELECT
          order_stage as taskStage,
          order_no as orderNo,
          type as type
        FROM
          designer_order
        WHERE
          project_no = #{projectNo}
    </select>
</mapper>