<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.thinkfree.database.mapper.DealerBrandInfoMapper">
  <resultMap id="AuditBrandInfoVO" type="cn.thinkfree.database.vo.AuditBrandInfoVO" extends="BaseResultMap">
    <result column="audit_type" jdbcType="INTEGER" property="auditType" />
    <result column="audit_level" jdbcType="VARCHAR" property="auditLevel" />
    <result column="audit_persion" jdbcType="VARCHAR" property="auditPersion" />
    <result column="at_status" jdbcType="VARCHAR" property="atStatus" />
    <result column="audit_time" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="audit_case" jdbcType="VARCHAR" property="auditCase" />
    <result column="audit_account" jdbcType="VARCHAR" property="auditAccount" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />

  </resultMap>
  <resultMap id="BrandItemsVO" type="cn.thinkfree.database.vo.BrandItemsVO" extends="BaseResultMap">
    <result column="audit_count" jdbcType="VARCHAR" property="auditCount" />
    <result column="audit_change_brand" jdbcType="VARCHAR" property="auditChangeBrand" />
  </resultMap>
  <sql id="My_Base_Column_List">
    brand.id,
	brand.brand_name,
	brand.authorization_card_url,
	brand.authorization_card_validity,
	brand.is_valid,
	brand.company_id,
	brand.audit_status,
	brand.brand_no,
	brand.agency_code,
	brand.create_time,
	brand.update_time,
	brand.category_name,
	brand.category_code,
	audit.audit_type,
	audit.audit_persion,
	audit.audit_status at_status,
	audit.audit_time,
	audit.audit_case,
	audit.audit_account,
	audit.audit_level
  </sql>
  <sql id="Sign_Base_Column_List">
    brand.id,
	brand.brand_name,
	category.category_name,
	category.category_code,
	brand.authorization_card_url,
	brand.authorization_card_validity,
	brand.is_valid,
	brand.company_id,
	category.audit_status,
	brand.brand_no,
	brand.agency_code,
	brand.create_time,
	brand.update_time
  </sql>

    <sql id="MyColumnList" >
        ${alias}.id,
        ${alias}.brand_name,
        ${alias}.authorization_card_url,
        ${alias}.authorization_card_validity,
        ${alias}.is_valid,
        ${alias}.company_id,
        ${alias}.brand_no,
        ${alias}.audit_status,
        ${alias}.agency_code,
        ${alias}.create_time,
        ${alias}.update_time,
        category.category_name
    </sql>
  <select id="showBrandDetail" parameterType="cn.thinkfree.database.vo.BrandDetailVO" resultMap="AuditBrandInfoVO">
    SELECT
    <include refid="My_Base_Column_List" />,
      info.company_name
      FROM
      pc_dealer_brand_info brand
      LEFT JOIN company_info info ON brand.company_id = info.company_id
      AND brand.agency_code = info.dealer_company_id
      LEFT JOIN ( SELECT
      audit_type,
      company_id,
      audit_persion,
      audit_status at_status,
      audit_time,
      audit_case,
      audit_account,
      contract_number,
      audit_status,
      audit_level
      FROM pc_audit_info pc_audit_info
      WHERE id IN ( SELECT max( id ) FROM pc_audit_info WHERE audit_type = 8 GROUP BY contract_number ) ) audit
      ON brand.company_id = audit.company_id
      AND audit.contract_number = brand.id
      WHERE
      brand.is_valid = 1
      AND info.audit_status = 8
      <if test="brandId!= null and brandId!= ''">
          and brand.id = #{brandId}
      </if>
      <if test="companyId != null and companyId != ''">
          and brand.company_id = #{companyId}
      </if>
      <if test="agencyCode != null and agencyCode != ''">
          and brand.agency_code = #{agencyCode}
      </if>
      <if test="brandNo != null and brandNo != ''">
          and brand.brand_no = #{brandNo}
      </if>
      <if test="status != null and status != ''">
          and brand.audit_status = #{status}
      </if>
    ORDER BY
    audit.audit_time desc,brand.update_time DESC
  </select>

  <select id="showBrandItems" resultMap="BrandItemsVO">
    SELECT
    agency_code,
    company_id,
    brand_no,
    brand_name,
      sum( CASE WHEN audit_status in(0,5) THEN 1 ELSE 0 END ) AS audit_count,
      sum( CASE WHEN audit_status = 5 THEN 1 ELSE 0 END ) AS audit_change_count
    FROM
    pc_dealer_brand_info
    WHERE
    is_valid = 1
      <if test="companyId != null and companyId != ''">
      and company_id = #{companyId}
    </if>
    <if test="agencyCode != null and agencyCode != ''">
      and agency_code = #{agencyCode}
    </if>
    GROUP BY
    brand_no,
    agency_code,
    company_id,
    brand_name
  </select>

  <select id="showSignBrand" resultMap="BaseResultMap" parameterType="java.lang.String">
      SELECT
      <include refid="Sign_Base_Column_List" />
      FROM
      pc_dealer_brand_info brand
      inner JOIN ( SELECT company_id,dealer_company_id, brand_no,
      string_agg ( category_name, ',' ) category_name,
      string_agg ( category_no, ', ' ) category_code, status audit_status
      FROM pc_agency_contract where status in (8,9,10,11) GROUP BY company_id, brand_no, dealer_company_id,status ) category
      ON category.company_id = brand.company_id
      and brand.brand_no = category.brand_no
      and brand.agency_code = category.dealer_company_id
      WHERE
      brand.id in (select max(id) from pc_dealer_brand_info where is_valid = 1
      AND audit_status = 2 group by company_id, brand_no)
      <if test="_parameter!= null and _parameter!= ''">
      and category.company_id  = #{companyId}
    </if>
      order by category.audit_status asc
  </select>

  <select id="selectByContract" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    *
    FROM
    pc_dealer_brand_info
    WHERE
    id IN ( SELECT max( id ) FROM pc_dealer_brand_info WHERE audit_status = 2 AND company_id = #{companyId} GROUP BY brand_no )
  </select>
</mapper>