<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.thinkfree.database.mapper.DesignerOrderMapper">
    <!--分页查询项目派单-->
    <select id="selectProjectOrderByPage" resultType="cn.thinkfree.database.vo.ProjectOrderVO">
        SELECT
        P .address AS address,
        i.company_name AS companyName,
        o.order_no AS orderNo,
        P .create_time AS appointmentTime,
        po.sign_time AS signedTime,
        P .address_detail AS addressDetail,

        co.money AS reducedContractAmount,
        o.order_stage AS orderStage,
        b.big_name AS constructionProgress,
        b.is_adopt AS checkCondition,
        d.delay_time AS delayDays


        FROM
        designer_order o
        LEFT JOIN construction_order co ON co.project_no = o.project_no

        LEFT JOIN project_delay d ON d.project_no = o.project_no
        LEFT JOIN project_big_scheduling_details b ON b.project_no = o.project_no
        LEFT JOIN company_info i ON i.company_id = o.company_id
        LEFT JOIN project P ON P .project_no = o.project_no
        LEFT JOIN pc_order_contract po ON po.order_number = o.order_no

        WHERE
        o.project_no=#{projectOrderVO.projectNo} AND o.status=#{projectOrderVO.status}
        ORDER BY o.create_time DESC
        <if test="pageSize != null">
            limit #{pageSize} offset #{pageNum}
        </if>
    </select>

    <!--查询项目派单总条数-->
    <select id="selectProjectOrderCount" resultType="java.lang.Integer">
        SELECT count(1)
                FROM
        designer_order o
        LEFT JOIN construction_order co ON co.project_no = o.project_no

        LEFT JOIN project_delay d ON d.project_no = o.project_no
        LEFT JOIN project_big_scheduling_details b ON b.project_no = o.project_no
        LEFT JOIN company_info i ON i.company_id = o.company_id
        LEFT JOIN project P ON P .project_no = o.project_no
        LEFT JOIN pc_order_contract po ON po.order_number = o.order_no

        WHERE
        o.project_no=#{projectOrderVO.projectNo} AND o.status=#{projectOrderVO.status}
    </select>

    <!--根据项目编号查询订单信息-->
    <select id="selectByProjectNo" resultType="cn.thinkfree.database.appvo.ProjectOrderDetailVo">
        SELECT
          order_stage as taskStage,
          order_no as orderNo,
          style_type as styleType
        FROM
          designer_order
        WHERE
          project_no = #{projectNo}
    </select>

    <select id="selectByProjectNoAndStatus" resultType="cn.thinkfree.database.appvo.OrderPlayVo">
        SELECT
            ci.company_name AS constructionCompany
        FROM
            designer_order deso
        LEFT JOIN company_info ci ON deso.company_id = ci.company_id
        WHERE
            deso.project_no=#{projectNo}
            AND
            deso.status=#{status}
    </select>

    <!--分页查询设计合同-->
    <select id="selectContractByPage" resultType="cn.thinkfree.database.vo.DesignContractVO">
        SELECT
        dor.order_no AS orderNo,
        p.project_no AS projectNo,
        P .order_source AS orderSource,
        P .province AS orderAddress,
        po.contract_number AS contractNo,
        po.sign_time AS signingTime,
        po.audit_type AS auditType
        FROM
        designer_order dor
        LEFT JOIN project P ON P .project_no = dor.project_no
        LEFT JOIN pc_order_contract po ON po.order_number = dor.order_no
        WHERE
        dor.company_id = #{designContractVO.companyId}
        <if test="designContractVO.contractNo!=null and designContractVO.contractNo!=''">
            and po.contract_number like CONCAT('%',#{designContractVO.contractNo},'%' )
        </if>
        <if test="designContractVO.orderNo!=null and designContractVO.orderNo!=''">
            and dor.order_no like CONCAT('%',#{designContractVO.orderNo},'%' )
        </if>
        <if test="designContractVO.orderSource!=null and designContractVO.orderSource!=''">
            and P .order_source like CONCAT('%',#{designContractVO.orderSource},'%' )
        </if>
        <if test="designContractVO.orderAddress!=null and designContractVO.orderAddress!=''">
            and P .province like CONCAT('%',#{designContractVO.orderAddress},'%' )
        </if>
        <if test="designContractVO.auditType!=null and designContractVO.auditType!=''">
            and po.audit_type like CONCAT('%',#{designContractVO.auditType},'%' )
        </if>
        <if test="designContractVO.startSign != null and designContractVO.startSign != ''">AND po.sign_time <![CDATA[>=]]> #{designContractVO.startSign}</if>
        <if test="designContractVO.endSign != null and designContractVO.endSign != ''">AND po.sign_time <![CDATA[<=]]>#{designContractVO.endSign}</if>
        <if test="designContractVO.flag!=null and designContractVO.flag !='' ">
            <if test="designContractVO.flag == '1'">
                and po.audit_type = 1 and po.sign_time <![CDATA[>=]]> now()
            </if>
            <if test="designContractVO.flag == '0'">
                and ( po.audit_type = 0 or po.sign_time <![CDATA[ < ]]> now() )
            </if>
        </if>
        ORDER BY dor.create_time DESC
        <if test="pageSize != null">
            limit #{pageSize} offset #{pageNum}
        </if>
    </select>

    <!--查询合同总条数-->
    <select id="selectContractCount" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM
        designer_order dor
        LEFT JOIN project P ON P .project_no = dor.project_no
        LEFT JOIN pc_order_contract po ON po.order_number = dor.order_no
        WHERE
        dor.company_id = #{designContractVO.companyId}
        <if test="designContractVO.contractNo!=null and designContractVO.contractNo!=''">
            and po.contract_number like CONCAT('%',#{designContractVO.contractNo},'%' )
        </if>
        <if test="designContractVO.orderNo!=null and designContractVO.orderNo!=''">
            and dor.order_no like CONCAT('%',#{designContractVO.orderNo},'%' )
        </if>
        <if test="designContractVO.orderSource!=null and designContractVO.orderSource!=''">
            and P .order_source like CONCAT('%',#{designContractVO.orderSource},'%' )
        </if>
        <if test="designContractVO.orderAddress!=null and designContractVO.orderAddress!=''">
            and P .province like CONCAT('%',#{designContractVO.orderAddress},'%' )
        </if>
        <if test="designContractVO.auditType!=null and designContractVO.auditType!=''">
            and P .po.audit_type like CONCAT('%',#{designContractVO.auditType},'%' )
        </if>
        <if test="designContractVO.startSign != null and designContractVO.startSign != ''">AND po.sign_time <![CDATA[>=]]> #{designContractVO.startSign}</if>
        <if test="designContractVO.endSign != null and designContractVO.endSign != ''">AND po.sign_time <![CDATA[<=]]>#{designContractVO.endSign}</if>
    </select>
</mapper>