<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.thinkfree.database.mapper.JoinStatusMapper">
  <select id="joinCompanyNode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    FROM pc_join_status where id = (select max(id)
    FROM pc_join_status where company_id = #{companyId}  group by company_id)
    and  company_id = #{companyId}
  </select>
</mapper>