<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.thinkfree.database.mapper.PcAuditInfoMapper">
  <resultMap id="AuditInfoVO" type="cn.thinkfree.database.vo.AuditInfoVO" extends="BaseResultMap">
    <result column="company_audit_type" jdbcType="VARCHAR" property="companyAuditType" />
  </resultMap>

  <select id="findAuditStatus" resultMap="AuditInfoVO" parameterType="java.util.Map">
    SELECT
	auditInfo.id,
	auditInfo.audit_type,
	auditInfo.audit_level,
	auditInfo.audit_persion,
	auditInfo.audit_status,
	auditInfo.audit_time,
	auditInfo.company_id,
	auditInfo.audit_case,
	auditInfo.contract_number,
	companyInfo.audit_status company_audit_type
FROM
	pc_audit_info auditInfo
	LEFT JOIN company_info companyInfo ON auditInfo.company_id = companyInfo.company_id
WHERE
	auditInfo.company_id = #{companyId} and 1=1
	AND auditInfo.id IN ( SELECT max( id ) FROM pc_audit_info
	  where 1=1
	  <if test="auditLevel != null">
		  and audit_type in
		  <foreach item="item" index="index" collection="auditType" open="(" separator="," close=")">
			  #{item}
		  </foreach>
	  </if>
	  <if test="contractNumber != null and contractNumber != ''">
		  and contract_number = #{contractNumber}
	  </if>
	  <if test="auditLevel != null and auditLevel != ''">
		  and audit_level = #{auditLevel}
	  </if>
	  GROUP BY company_id )
  </select>

	<select id="findTempAuditStatus" resultMap="AuditInfoVO" parameterType="java.util.Map">
		SELECT
	auditInfo.id,
	auditInfo.audit_type,
	auditInfo.audit_level,
	auditInfo.audit_persion,
	auditInfo.audit_status,
	auditInfo.audit_time,
	auditInfo.company_id,
	auditInfo.audit_case,
	auditInfo.contract_number,
	companyInfo.change_status company_audit_type
FROM
	pc_audit_info auditInfo
	LEFT JOIN
	 ( SELECT * FROM pc_audit_temporary_info WHERE company_id = #{companyId}
	 AND id IN ( SELECT max( id ) FROM pc_audit_temporary_info GROUP BY company_id ) )
	 companyInfo ON auditInfo.company_id = companyInfo.company_id
	WHERE auditInfo.company_id = #{companyId}
	and auditInfo.id IN ( SELECT max( id ) FROM pc_audit_info
	 where
	 audit_type = #{auditType}
	 GROUP BY company_id )
	</select>

	<select id="findAuditCase" resultMap="BaseResultMap" parameterType="java.util.Map">
		select <include refid="Base_Column_List" /> from pc_audit_info
		where company_id = #{companyId}
		and id in (select max(id) from pc_audit_info
		where 1=1
		<if test="audit_type != null">
			and audit_type in
			<foreach item="item" index="index" collection="auditType" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="auditLevel != null and auditLevel != ''">
			and audit_level = #{auditLevel}
		</if>
		group by company_id)
	</select>
</mapper>