<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.thinkfree.database.mapper.PcUserInfoMapper">

    <resultMap id="AccountListVO" type="cn.thinkfree.database.vo.account.AccountListVO">
        <id column="id" property="id" />
        <result column="name" property="name"/>
        <result column="people_number" property="account"/>
        <result column="people_group" property="dept"/>
        <result column="company_name" property="branchCompanyName"/>
        <result column="city_branch_name" property="cityBranchCompanyName"/>
        <result column="enabled" property="state"/>
        <result column="create_time" property="createTime"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="roles" property="roles"/>
        <result column="memo" property="memo"/>
    </resultMap>

    <resultMap id="pcUserInfoVo" type="cn.thinkfree.database.vo.PcUserInfoVo" extends="BaseResultMap">

        <result column="login_time" jdbcType="TIMESTAMP" property="lastLogin" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="company_name" jdbcType="TIMESTAMP" property="companyName" />
        <result column="regPhone" jdbcType="VARCHAR" property="regPhone" />
    </resultMap>


    <select id="selectAccountListVO" parameterType="cn.thinkfree.database.vo.account.AccountSEO" resultMap="AccountListVO">
        SELECT
            pc_user_info."name",
            pc_user_info."id",
            pc_user_info.create_time,
            pc_user_info.enabled,
            pc_user_info.email,
            pc_user_info.phone,
            pc_user_info.branch_company_id,
            pc_user_info.city_branch_company_id,
            pc_user_info.memo,
            pc_city_branch.city_branch_name,
            pc_branch_company.company_name,
            hr_people_entity.people_group,
            hr_people_entity.people_number,
            (
                  SELECT
                    array_to_string(
                      ARRAY (
                        SELECT
                          pc_system_role.name
                        FROM
                          pc_system_role pc_system_role
                        JOIN pc_system_user_role pc_system_user_role ON pc_system_role.ID = pc_system_user_role.role_id
                        AND pc_system_user_role.user_id = pc_user_info."id"
                      ),
                    ','
                    )
                ) AS roles
        FROM
            pc_user_info pc_user_info
        JOIN hr_people_entity hr_people_entity on pc_user_info.third_id = hr_people_entity.id
        LEFT JOIN pc_branch_company pc_branch_company on pc_branch_company."branch_company_code" = pc_user_info.branch_company_id
        LEFT JOIN pc_city_branch pc_city_branch on pc_city_branch."city_branch_code" = pc_user_info.city_branch_company_id
        WHERE pc_user_info.is_delete = 0

        <if test="branchCompany != null and '' neq branchCompany ">
            and pc_branch_company.branch_company_code = #{branchCompany}
        </if>
        <if test="cityBranch != null and '' neq cityBranch">
            and pc_city_branch.city_branch_code = #{cityBranch}
        </if>
        <if test="dept != null and '' neq dept">
            and pc_branch_company.id = #{dept}
        </if>
        <if test="name != null and '' neq name">

            and
            (pc_user_info.name like concat(#{name},'%')
              or pc_user_info.phone like concat(#{name},'%')
             )
        </if>
        <if test="state != null and '' neq state">
            and pc_user_info.enabled = #{state}
        </if>

        order by pc_user_info.create_time desc
    </select>

</mapper>