<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.thinkfree.database.mapper.PcUserResourceMapper">

  <select id="selectByUserId" parameterType="java.lang.String" resultType="java.lang.Integer">
    select resource_id
    from pc_user_resource
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByUserId" parameterType="java.lang.String">
    delete from pc_user_resource
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>


  <insert id ="insertBatch" parameterType="java.util.List" >
    insert into pc_user_resource
    (user_id, resource_id)
    values
    <foreach collection ="list" item="item" index= "index" separator =",">
      (
      #{item.userId}, #{item.resourceId}
      )
    </foreach >
  </insert >
</mapper>