<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.thinkfree.database.mapper.PreProjectGuideMapper">
    <resultMap id="ProjectVO" type="cn.thinkfree.database.vo.ProjectVO" extends="BaseResultMap">
        <result column="stewardName" property="stewardName"/>
        <result column="projectManagerName" property="projectManagerName"/>
        <result column="company_name" property="companyName"/>
        <result column="houseTypeName" property="houseTypeName"/>
        <association property="preProjectInfo" javaType="cn.thinkfree.database.model.PreProjectInfo">
            <result column="house_area" property="houseArea"/>
            <result column="house_type" property="houseType"/>
            <result column="store" property="store"/>
        </association>

    </resultMap>

    <resultMap id="ProjectDetailsVO" type="cn.thinkfree.database.vo.ProjectDetailsVO" extends="BaseResultMap">

        <association property="info" column="project_no"   javaType="cn.thinkfree.database.model.PreProjectInfo"
                     select="cn.thinkfree.database.mapper.PreProjectInfoMapper.selectProjectInfoByProjectNo"/>

        <association property="companyInfo" column="project_no"   javaType="cn.thinkfree.database.model.CompanyInfo"
                     select="cn.thinkfree.database.mapper.CompanyInfoMapper.selectCompanyInfoByProjectNo"/>
    </resultMap>
    <resultMap id="IndexProjectChartItemVo" type="cn.thinkfree.database.vo.IndexProjectChartItemVO" >

        <result column="num" property="num"/>
        <result column="dateLine" property="dateLine"/>


    </resultMap>

  <select id="selectProjectVOBySEO" parameterType="cn.thinkfree.database.vo.ProjectSEO" resultMap="ProjectVO">
        SELECT
            ppg.project_no,
            ppg.project_name,
            ppg.province,
            ppg.city,
            ppg.area,
            ppg.customer_name,
            ppg.customer_phone,
            ppi.house_area,
            ppi.house_type,
            ppi.store,
            ppg.status,
            ci.company_name,
            ppht.house_illustrate as houseTypeName,
          (SELECT user_name FROM pre_project_user_role where project_no = ppg.project_no and role_id = 'CS') as stewardName,
          (SELECT user_name FROM pre_project_user_role where project_no = ppg.project_no and role_id = 'CP') as projectManagerName
        FROM
          pre_project_guide ppg
        JOIN pre_project_company_set ppcs ON ppg.project_no = ppcs.project_no
        JOIN pre_project_info ppi ON ppi.project_no = ppg.project_no
        join company_info ci on ci.company_id = ppcs.company_id
        left join pre_project_house_type ppht on ppht.house_type = ppi.house_type

        <where>
           and ppg.is_delete = 0
           and ppcs.company_id in
            <foreach close=")" collection="companyRelationMap" item="listItem" open="(" separator=",">
                #{listItem}
            </foreach>
          <if test="province != null and province != ''">
              and ppg.province = #{province}
          </if>
          <if test="city != null and city != ''">
            and ppg.city = #{city}
          </if>
          <if test="area != null and area != ''">
            and ppg.area = #{area}
          </if>
          <if test="status != null and status != ''">
            and ppg.status = #{status}
          </if>
          <if test="hall != null and hall != ''">
            and ppg.hall = #{hall}
          </if>
          <if test="customName != null and customName != ''">
            and ppg.customName = #{customName}
          </if>
          <if test="filterProjectNos != null and filterProjectNos.size > 0">
            and ppg.project_no in
              <foreach close=")" collection="filterProjectNos" item="listItem" open="(" separator=",">
                  #{listItem}
              </foreach>
          </if>

        </where>


    </select>


    <select id="selectProjectDetailsByProjectNo" parameterType="java.lang.String" resultMap="ProjectDetailsVO">
      select
        <include refid="Base_Column_List" />
      from
      pre_project_guide
      where   project_no = #{projectNo}

    </select>

    <select id="selectProjectLineChat"  resultMap="IndexProjectChartItemVo">
        SELECT
          to_char(p.create_time, 'YYYY/MM/DD') as dateLine,
          count(1) as num
        from pre_project_guide p
        join  pre_project_company_set ppcs on p.project_no = ppcs.project_no
        where
          p.is_delete = 0
        and
          p.create_time BETWEEN #{firstDate} AND #{lastDate}
        and ppcs.company_id in
          <foreach collection="relationMap" item="companyItem" open="(" close=")" separator=",">
            #{companyItem}
          </foreach>
        GROUP BY p.create_time
        order by p.create_time
    </select>


    <select id="selectProjectVOForPerson"  resultMap="ProjectVO">

        select
            ppg.project_no,
            ppg.project_name,
            ppg.province,
            ppg.city,
            ppg.area,
            ppg.customer_name,
            ppg.customer_phone,
            ppg.status,
            ppg.project_starttime,
            ppg.project_endtime,
          (SELECT user_name FROM pre_project_user_role where project_no = ppg.project_no and role_id = 'CS') as stewardName,
          (SELECT user_name FROM pre_project_user_role where project_no = ppg.project_no and role_id = 'CP') as projectManagerName

        from
        pre_project_guide ppg
        join  pre_project_user_role ppur on ppg.project_no = ppur.project_no
        where
         ppur.user_id = #{userID}
        and ppg.is_delete = 0
        and ppur.is_job = 1
        and  ppur.is_transfer = 0
        <if test="status != null and status != 100">
            and ppg.status = #{status}
        </if>
    </select>


    <select id="selectProjectVOForCompany"  resultMap="ProjectVO">

        select
        ppg.project_no,
        ppg.project_name,
        ppg.province,
        ppg.city,
        ppg.area,
        ppg.customer_name,
        ppg.customer_phone,
        ppg.status,
        ppg.project_starttime,
        ppg.project_endtime,
        (SELECT user_name FROM pre_project_user_role where project_no = ppg.project_no and role_id = 'CS') as stewardName,
        (SELECT user_name FROM pre_project_user_role where project_no = ppg.project_no and role_id = 'CP') as projectManagerName

        from
        pre_project_guide ppg
        join  pre_project_company_set ppcs on ppg.project_no = ppcs.project_no
        where
        ppg.is_delete = 0
        and ppcs.is_delete = 0
        and ppcs.company_id = #{companyID}
        <if test="status != null and status != 100">
            and ppg.status = #{status}
        </if>
    </select>


</mapper>